<template>
  <div>
    <label>
      Token
      <input v-model="token">
    </label>
    <label>
      Release type
      <select v-model="releaseType">
        <option>patch</option>
        <option>minor</option>
        <option>major</option>
      </select>
    </label>
    <button 
      :disabled="tokenOrTypeEmpty" 
      @click="release"
    >
      Release!
    </button>
  </div>
</template>

<script>
import { ref, computed } from "vue";

import { TYPES } from "./notifications/a-notification.vue";


const WERKKASTEN_PIPELINE_URL =
  "https://gitlab.com/api/v4/projects/9560615/trigger/pipeline";

export default {
  emits: [ "trigger-notification" ],
  setup(props, { emit }) {
    const token = ref("");
    const releaseType = ref("");

    const tokenOrTypeEmpty = computed(() => !token.value || !releaseType.value);

    const formData = computed(() => {
      const formData = new FormData();
      formData.append("token", token.value);
      formData.append("variables[RELEASE]", releaseType.value);
      formData.append("ref", "master");
      return formData;
    });

    const release = async () => {
      fetch(WERKKASTEN_PIPELINE_URL, {
        method: "POST",
        body: formData.value
      })
        .then(response => {
          if (!response.ok) {
            throw new Error(`Network response was ${response.status}`);
          }
          return response.json();
        })
        .then(result => {
          emit("trigger-notification", { 
            type: TYPES.SUCCESS, 
            message: `Successfully started pipeline. Check it out at <a href="${result.web_url}">${result.id}</a>`,
          });
        })
        .catch(error => {
          emit("trigger-notification", { 
            type: TYPES.ERROR, 
            message: `Error while starting pipeline: ${error}`,
          });
        });
    };

    return {
      token,
      releaseType,
      tokenOrTypeEmpty,
      release,
    };
  }
};
</script>
