<template>
  <div 
    :class="messageClass" 
    class="notification"
  >
    <span v-html="notification.message" />
    <button 
      class="close"
      @click="$emit('close-notification', notification.id)"
    >
      ✖
    </button>
  </div>
</template>

<script>
export const TYPES = Object.freeze({
  SUCCESS: 'success',
  ERROR: 'error',
});

export default {
  props: {
    notification: {
      type: Object,
      required: true,
    }
  },
  emits: [
    "close-notification"
  ],
  setup(props) {
    return {
      messageClass: props.notification.type === TYPES.SUCCESS ? "success" : "error",
    };
  },
}
</script>

<style scoped>
.notification {
  margin-top: 0.2em;
  color: hsl(0, 0%, 100%)	;
  padding: 0.6em;
  border-radius: 0.4em;
}

.close {
  margin-left: 0.5em;
}

.success {
  background-color: hsl(141, 71%, 48%);
}

.error {
  background-color: hsl(348, 100%, 61%)	;
}
</style>
