<template>
  <div id="notifications-container">
    <a-notification 
      v-for="n in notifications"
      :key="n.id"
      :notification="n"
      @close-notification="(args) => $emit('close-notification', args)"
    />
  </div>
</template>

<script>
import ANotification from './a-notification.vue';

export default {
  components: {
    ANotification,
  },
  props: {
    notifications: {
      type: Array,
      required: true,
    }
  },
  emits: [ "close-notification" ],
}
</script>

<style scoped>
#notifications-container {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
</style>
