<template>
  <header>
    <h1>Werkkasten Dashboard</h1>
    <img
      alt="Werkkasten logo"
      class="logo"
      src="./assets/IMG_20200505_230501.jpg"
    >
  </header>
  <the-releaser @trigger-notification="addNotification" />
  <the-notifications
    :notifications="notifications"
    @close-notification="removeNotification"
  />
</template>

<script>
import { ref } from "vue";

import TheReleaser from "./components/the-releaser.vue";
import TheNotifications from "./components/notifications/the-notifications.vue";

export default {
  components: {
    TheReleaser,
    TheNotifications,
  },
  setup() {
    const notifications = ref([]);
    return {
      notifications,
      addNotification: (notification) => notifications.value.push({ ...notification, id: Symbol() }),
      removeNotification: (id) => {
        notifications.value = notifications.value.filter(n => n.id !== id);
      }
    };
  },
}
</script>

<style>
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

header {
  height: 33%;
  border-bottom: thin solid #444;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.logo {
  width: 12.5em;
}
</style>
